.App{
  text-align: center;
}
body{
  background: cornflowerblue;
}
table{
  margin: 0 auto;
  border-collapse: collapse;
}
td{
  width: 40px;
  height: 40px;
  border: 1px solid black;
  background: darkgrey;
}
.water{
  background: blue;
}
.ship{
  background: blue;
}
.hit{
  background: orange;
}
.miss{
  background: white;
}