.App{
  text-align: center;
}
body{
  background: cornflowerblue;
}
table{
  border-collapse: collapse;
}
td{
  width: 40px;
  height: 40px;
  border: 1px solid black;
  background: darkgrey;
}

.ship{
  background: black;
}
.ship{
  background: orange;
}
.miss{
  background: white;
}